<br>
<h4 class="text-center">Personas</h4>
<br>
<table class="table" *ngIf="listapersona.length>0">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Sexo</th>
      <th scope="col">Documento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of listapersona; let indice=index;">
      <td>
        {{o.nombre}}
      </td>
      <td>
        {{o.age}}
      </td>
      <td>
        {{o.sex}}
      </td>
      <td>
        {{o.archivo}}
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<form (submit)="guardar()">
  <div class="form-group col col-md-12">
    <label for=""><h6>Nombre:</h6></label>
    <br>
    <input type="text" name="nombre" id="nombre" class="col col-md-3" [(ngModel)]="nombre">
  </div>
  <br>
  <div class="form-group col col-md-3">
    <div class="input-group mb-1">
      <div class="custom-file form-group col col-md-12">
        <input type="file" class="custom-file-input " id="archivo" name="archivo" [(ngModel)]="archivo" >
        <label class="custom-file-label btn-primary" for="inputGroupFile01">Subir documento</label>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group col col-md-12">
    <button type="submit" class="btn btn-primary col col-md-2">Guardar</button>
  </div>

</form>
<br>
<div class="form-group col col-md-12">
  <button type="button" class="btn btn-primary col col-md-2" (click)="borrar()">limpiar</button>
</div>